@use '../../../../style/spacing' as spacing;
@use '../../../../style/component'  as component;
@use '../../../../style/breakpoint'  as breakpoint;

.modal{
    @include component.component-style(layer-1, false, false);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-inline: spacing.$spacing-4;
    gap: spacing.$spacing-6;
    z-index: 1000;

    &.fadeIn {
        animation: fade-in 0.5s ease forwards;
    }

    &.fadeOut {
        animation: fade-out 0.5s ease forwards;
    }

    &_header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 100%;
    }

    &_body {
        display: flex-1;
        width: 100%;
        overflow-y: auto;
        padding-bottom: spacing.$spacing-4;
    }

    &_title {
        font-weight: bold;
        max-width: 80%;

        @media (max-width: breakpoint.$mobile) {
            font-size: 1.2rem;
        }
    }

    &_close {
        padding: spacing.$spacing-3;
        cursor: pointer;
    }

}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}