@use '../../../../style/spacing' as spacing;
@use '../../../../style/component'  as component;

.modal{
    @include component.component-style(layer-1, false, false);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 1000;

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: spacing.$spacing-4;
    }

    &_title {
        font-weight: bold;
    }

    &_close {
        padding: spacing.$spacing-3;
        cursor: pointer;
    }

}