@use '../../../../style/spacing' as spacing;

.footerContainer{
    display: flex;
    width: 100%;
    gap: spacing.$spacing-2;
    align-items: center;
    justify-content: end;
    padding: spacing.$spacing-4 spacing.$spacing-10;
} 

.footer{

    &_links {
        display: flex;
        gap: spacing.$spacing-6;
        align-items: end;
        justify-content: center;
    }
}

