@use '../../../../style/spacing' as spacing;
@use '../../../../style/semantic' as semantic;
@use '../../../../style/breakpoint' as breakpoint;

.recapView {
    display: grid;
    grid-template-columns: 60% 35%; 
    align-items: start;  
    justify-content: space-between;
    width: 100%;

    @media (max-width: breakpoint.$tablet) {
        gap: spacing.$spacing-6;
        grid-template-columns: 1fr; 
    }
}


.actions{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: spacing.$spacing-3;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: spacing.$spacing-4;

    &_header{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
}