@use '../../../../style/component'  as component;
@use '../../../../style/spacing' as spacing;
@use '../../../../style/breakpoint' as breakpoint;
@use '../../../../style/semantic' as semantic;


.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: spacing.$spacing-4;
    margin-top: spacing.$spacing-2;
}

.actionButton {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  border-radius: 6px;
  opacity: 0.7;
  transition: 0.15s ease;
}

.active {
  color: semantic.$text-on-color; 
  background-color: semantic.$background-primary; 
  opacity: 1;

  :hover {
    background: semantic.$background-primary-hover;
  }
}


.voteCount {
    font-size: 0.85rem;
    margin-left: spacing.$spacing-1;
    font-weight: 500;
}
