@use '../../../../style/spacing'  as semantic;
@use '../../../../style/spacing' as spacing;


.latestNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: spacing.$spacing-4;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding-bottom: spacing.$spacing-4; // Add some padding at the bottom for scrolling
}


.loadingTrigger {
    width: 100%;
    text-align: center;
    padding: spacing.$spacing-4;
    color: #666;
    min-height: 20px;
}
