@use '../../../../style/semantic' as semantic;
@use '../../../../style/spacing' as spacing;
@use '../../../../style/breakpoint' as breakpoint;


.pageContainerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100vh;
}




.pageContainer {
    &Wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        width:100%;
        max-width: 1220px;
        height: 100%;
    }

    
    
    &_body{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width:100%;
        height: 100%;
        gap: spacing.$spacing-8;
        padding-inline: spacing.$spacing-4;

        @media (max-width: breakpoint.$tablet) {
            gap: spacing.$spacing-3;
        }
    }
}
