@use '../../style/semantic' as semantic;
@use '../../style/spacing' as spacing;


.notFoundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100vh;
}

.notFound{
    &Wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        width:100%;
        max-width: 1220px;
        height: 100%;
    }

    
    
    &_body{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width:100%;
        height: 100%;
        padding-inline: spacing.$spacing-4;


        h1 {
            font-size: 128px;
            font-weight: bold;
        }
    }
}
