@use '../../style/semantic' as semantic;
@use '../../style/spacing' as spacing;

.notFound{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width:100%;
    height: 100%;
    padding-inline: spacing.$spacing-4;


    h1 {
        font-size: spacing.$spacing-10; // Reduced from 128px to something more reasonable, or use a larger spacing if available
        font-weight: bold;
    }
    
}
