@use '../../../../style/spacing' as spacing;
@use '../../../../style/breakpoint' as breakpoint;

.headerContainer{
    display: flex;
    width: 100%;
    gap: spacing.$spacing-2;
    align-items: center;
    justify-content: center;
    padding: spacing.$spacing-2 spacing.$spacing-4;

    @media (max-width: breakpoint.$mobile) {
        display: none;
    }
}

.homeButton{
    display: flex;
    gap: spacing.$spacing-2;
    align-items: center;
    justify-content: center;
    
    h1{
        font-weight: bold;
    }
}

.logo{
    width: spacing.$spacing-10;
    height: spacing.$spacing-10;
}