@use '../../../../style/spacing' as spacing;

.headerContainer{
    display: flex;
    width: 100%;
    gap: spacing.$spacing-2;
    align-items: center;
    justify-content: center;
    padding: spacing.$spacing-2 spacing.$spacing-4;
}

.logo{
        display: flex;
    gap: spacing.$spacing-2;
    align-items: center;
    justify-content: center;
}