@use '../../../../style/component'  as component;
@use '../../../../style/spacing' as spacing;


.recapCard{
    @include component.component-style(layer-2, false, true);

    display: flex;
    justify-content: start;
    cursor: pointer;;
    width: 100%;
    padding: spacing.$spacing-4;
    border-radius: spacing.$spacing-1;
}
