// primary
$primary-100: rgba(184, 198, 188, 1);  // Colors/primary-100
$primary-200: rgba(122, 154, 130, 1);  // Colors/primary-200
$primary-300: rgba(76, 114, 80, 1);    // Colors/primary-300
$primary-400: rgba(48, 85, 54, 1);     // Colors/primary-400
$primary-500: rgba(30, 56, 35, 1);     // Colors/primary-500

// gray
$gray-50:  rgba(253, 253, 253, 1);     // Colors/gray-50
$gray-100: rgba(244, 246, 244, 1);     // Colors/gray-100
$gray-200: rgba(232, 236, 232, 1);     // Colors/gray-200
$gray-300: rgba(218, 223, 217, 1);     // Colors/gray-300
$gray-400: rgba(201, 206, 201, 1);     // Colors/gray-400
$gray-500: rgba(154, 158, 154, 1);     // Colors/gray-500
$gray-600: rgba(77, 85, 77, 1);        // Colors/gray-600
$gray-700: rgba(52, 60, 52, 1);        // Colors/gray-700
$gray-800: rgba(26, 36, 26, 1);        // Colors/gray-800
$gray-900: rgba(4, 6, 4, 1);           // Colors/gray-900

// status
$status-error:   rgba(172, 55, 71, 1);   // Colors/status-error
$status-warning: rgba(240, 173, 61, 1);  // Colors/status-warning
$status-success: rgba(155, 135, 255, 1); // Colors/status-success
$status-info:    rgba(58, 110, 165, 1);  // Colors/status-info
