@use '../../../../style/spacing' as spacing;
@use '../../../../style/semantic' as semantic;
@use '../../../../style/component' as component;

.sources {
    @include component.component-style(layer-2, false, false);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: spacing.$spacing-3;

    h2 {
        font-weight: bold;
    }

    &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid semantic.$border-layer-3;
        padding-block: spacing.$spacing-3;

        &:last-child {
            border-bottom: none;
        }
    }
}