@use '../../style/spacing' as spacing;
@use '../../style/semantic' as semantic;

.messageInfoBox {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: spacing.$spacing-3;
    border-radius: spacing.$spacing-1;
    color: semantic.$text-on-color;
    background-color: semantic.$status-info;

}

.success {
  background-color: semantic.$status-success;
}

.warning {
  background-color: semantic.$status-warning;
}

.error {
  background-color: semantic.$status-error;
}